<footer>
  <ul id="button_controls">
    <li><i class="fas fa-minus"></i> Recent Articles</li>
    <% if session[:user_id] == nil %>
      <li><i class="fas fa-plus"></i> Home</li>
    <% else %>
      <li><i class="fas fa-plus"></i> New Article</li>
    <% end %>
  </ul>
</footer>
<script src="/footer.js"></script>
