<!-- <a href="/articles/new">Create Article</a> -->
<div id="signup-form">
  <form class="" action="index.html" method="post">
    <input type="text" name="first" placeholder="First Name"></input><br>
    <input type="text" name="last" placeholder="Last Name"></input><br>
    <input type="password" name="password" placeholder="Password"></input><br>
    <input type="text" name="email" placeholder="Email"></input><br>
    <input type="date" name="birthday"></input>
  </form>
</div>
<button id="signup" onclick="signup()">Sign Up</button><br>
<button id="login" onclick="login()">Log In</button>
