<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/main.css">
    <title></title>
  </head>
  <body>
    <%# <%= erb :header %>
    <%= yield %>
    <script src="/main.js"></script>
  </body>
</html>
