<div id="user_header">
  <h2>Recent Articles</h2>
</div>
<div id="user_articles">
  <% @articles.reverse.each do |article| %>
   <a href=<%="/articles/#{article.id}"%>>
     <div class="grid_item">
       <img src=<%="#{article.image}"%>></img>
       <h3><%= article.title %></h3>
     </div>
   </a>
  <% end %>
</div>
