<div id="new_article_header">
  <h2>New Article</h2>
</div>
<form id="new_article" action="/articles/new" method="post">
  <input type="text" name="title" /><br>
  <input type="text" name="image" placeholder="link to image" />
  <textarea name="content"></textarea><br>
  <input type="submit" name="submit" />
</form>
