#single_article {
  height: 95%;
  padding: 5% 10%;
  overflow: scroll;
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
  }
  p {
    padding-top: 20px;
  }
}
