h1 {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  font-size: 6vw;
  padding-top: 20%;
  border-bottom: solid 5px black;
  text-align: center;
}

.grid {
  display: grid;
  width: 60%;
  margin: 0 20%;
  padding-top: 10%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100%;
  grid-column-gap: 5px;
  .card {
    background-color: white;
    width: 100%;
    height: 225px;
    padding: 2%;
    border-radius: 0px;
    &:hover {
      border: 3px solid $switch-blue;
    }
    &:focus {
      outline: none;
    }
    img {
      width: 70%;
      margin-left: 15%;
      margin-right: 15%;
      margin-top: 10%;
    }
    #mushroom {
      height: 75%;
      background-color: blue;
    }

    #egg {
      height: 75%;
      background-color: red;
    }

    #star {
      height: 75%;
      background-color: green;
    }
    .container {
      margin-top: 8%;
      text-align: center;
    }
  }
  .home {
    color: black;
    text-decoration: none;
    &:hover {
      color: black;
      text-decoration: none;
    }
    h4 {
      font-size: 1.2em;
    }
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  top: 38%;
  left: 25%;
  width: 50%;
  height: 50%;
  background-color: $switch-background;
  #modal_content {
    color: white;
    margin: 15% auto;
    width: 50%;
  }
  #modal_form {
    input {
      height: 50px;
      width: 100%;
      margin-bottom: 10px;
      background-color: white;
      border: 3px solid $switch-blue;
    }
    input[type=submit] {
      background-color: $transparent;
      border: 2px solid black;
      color: black;
      margin-top: 50px;
      width: 50%;
      border-radius: 5px;
      &:hover {
        background-color: white;
        border: 2px solid $switch-blue;
      }
    }
  }
}
