$switch-red: rgb(255, 69, 84);
$switch-blue: rgb(0, 195, 227);
$switch-background: rgb(239, 239, 239);
$switch-buttons: #333;
$transparent: rgba(0,0,0,0);

@import 'home';
@import 'newuser';
@import 'newarticle';
@import 'edituser';
@import 'profile';
@import 'article';

body {
  margin: 0;
  font-family: 'Nanum Gothic', sans-serif;
}

nav {
  position: fixed;
  top: 5%;
  right: 20%;
  height: 100px;
  color: black;
  ul {
    height: 50px;
    li {
      display: inline-block;
      padding: 5px;
      a {
        color: white;
        text-decoration: none;
      }
    }
  }
  img {
    position: relative;
    bottom: 1px;
    height: 30px;
  }
  #time {
    font-size: 1.5vw;
  }
}

input[type=image] {
  position: relative;
  bottom: -10px;
  height: 30px;
  width: 30px;
  border: none;
}

#user_header,
#new_user_header,
#new_article_header,
#user_settings {
  text-align: left;
  padding: 50px 25px 0 25px;
  h2 {
    font-size: 2.5vw;
    border-bottom: 5px solid black;
  }
  img {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    display: inline;
  }

}

div.switch_frame {
  background-color: black;
}

div#switch_frame_top {
  position: fixed;
  width: 100%;
  height: 3%;
}

div#switch_frame_left {
  position: fixed;
  left: 15%;
  z-index: 2;
  width: 2%;
  height: 100%;
}

div#switch_frame_right {
  position: fixed;
  right: 15%;
  z-index: 2;
  width: 2%;
  height: 100%;
}

div#switch_frame_bottom {
  position: fixed;
  width: 100%;
  height: 3%;
  bottom: 0;
}

div#user_articles {
  display: grid;
  position: absolute;
  top: 12.2%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 250px;
  grid-gap: 15px;
  width: 90%;
  height: 80%;
  margin: 0 5%;
  overflow: scroll;
  padding-top: 20px;
  a {
    color: black;
    &:hover {
      text-decoration: none;
    }
  }
  .grid_item {
    background-color: white;
    height: 250px;
    &:hover{
      animation: glowing 1500ms infinite;
      border: 3px solid $switch-blue;
      border-radius: 2px;
    }
    img {
      width: 100%;
      height: 200px;
    }
    h3 {
      font-size: 3vh;
    }
    h4 {
      font-size: 2vh;
    }
  }
}

div.article {
  h3 {
    font-size: 2vw;
  }
}

div#left_con {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  height: 100vh;
  width: 15%;
  background-color: $switch-red;
}

div#minus_sign {
  position: relative;
  top: 50px;
  left: 50%;
  height: 20px;
  width: 75px;
  background-color: $switch-buttons;
}

div#left_stick {
  position: relative;
  top: 30%;
  left: 30%;
  height: 100px;
  width: 100px;
  border-radius: 50px;
  background-color: $switch-buttons;
}

div#right_con {
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  height: 100%;
  width: 15%;
  background-color: $switch-blue;
}

div#plus_sign {
  position: relative;
  top: 50px;
  left: 20%;
  height: 75px;
  width: 75px;
  background-color: $switch-buttons;
  clip-path: polygon(0 35%, 35% 35%, 35% 0%, 65% 0%, 65% 35%, 100% 35%, 100% 65%, 66% 65%, 65% 100%, 35% 100%, 35% 65%, 0 65%);
}

div#right_con_buttons {
  position: relative;
  top: 150px;
  left: 30px;
  height: 190px;
  width: 75%;
}

div.switch_button {
  position: absolute;
  background-color: $switch-buttons;
  height: 50px;
  width: 50px;
  border-radius: 25px;
}

div#right_con_up_button {
  top: 0;
  left: 38%;
}

div#right_con_right_button {
  top: 40%;
  right: 0;

}

div#right_con_down_button {
  bottom: 0;
  left: 38%;
}

div#right_con_left_button {
  top: 40%;
  left: 0;
}

div#screen_content {
  position: fixed;
  width: 66%;
  height: 98%;
  margin: 1% 17%;
  overflow: hidden;
  background-color: $switch-background;
  // -webkit-filter: blur(5px);
}

a.carousel-control-next,
a.carousel-control-prev {
  z-index: 3;
  width: 50px;
  height: 50px;
  opacity: 1;
}

footer {
  position: fixed;
  bottom: 0;
  width: 62%;
  height: 50px;
  margin-left: 2%;
  margin-bottom: 1%;
  border-top: 2px solid black;
  text-align: right;
  background-color: $switch-background;
  ul {
    height: 50px;
    li {
      display: inline-block;
      padding: 5px;
    }
  }
}

@keyframes glowing {
  0% {border: 2px solid $switch-blue;}
  50% {border: 2px solid rgb(92, 243, 255);}
  100% {border: 2px solid $switch-blue;}
}
