h1 {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  font-size: 6vw;
  padding-top: 20%;
  border-bottom: solid 5px black;
  text-align: center;
}

.grid {
  display: grid;
  width: 60%;
  margin: 0 20%;
  padding-top: 10%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100%;
  grid-column-gap: 5px;
}
.grid .card {
  background-color: white;
  width: 100%;
  height: 225px;
  padding: 2%;
  border-radius: 0px;
}
.grid .card:hover {
  border: 3px solid #00c3e3;
}
.grid .card:focus {
  outline: none;
}
.grid .card img {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 10%;
}
.grid .card #mushroom {
  height: 75%;
  background-color: blue;
}
.grid .card #egg {
  height: 75%;
  background-color: red;
}
.grid .card #star {
  height: 75%;
  background-color: green;
}
.grid .card .container {
  margin-top: 8%;
  text-align: center;
}
.grid .home {
  color: black;
  text-decoration: none;
}
.grid .home:hover {
  color: black;
  text-decoration: none;
}
.grid .home h4 {
  font-size: 1.2em;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  top: 38%;
  left: 25%;
  width: 50%;
  height: 50%;
  background-color: #efefef;
}
.modal #modal_content {
  color: white;
  margin: 15% auto;
  width: 50%;
}
.modal #modal_form input {
  height: 50px;
  width: 100%;
  margin-bottom: 10px;
  background-color: white;
  border: 3px solid #00c3e3;
}
.modal #modal_form input[type=submit] {
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid black;
  color: black;
  margin-top: 50px;
  width: 50%;
  border-radius: 5px;
}
.modal #modal_form input[type=submit]:hover {
  background-color: white;
  border: 2px solid #00c3e3;
}

#select_icon {
  display: grid;
  grid-template-columns: 120px 120px 120px 120px 120px 120px;
  grid-auto-rows: 120px;
  grid-gap: 10px;
  margin: 5% 8%;
}
#select_icon img {
  height: 100%;
  background-color: white;
}
#select_icon img:hover {
  border: 3px solid #00c3e3;
}

#color_picker {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
}
#color_picker img {
  position: fixed;
  top: 20%;
  left: 40%;
}
#color_picker input {
  position: fixed;
  top: 55%;
  left: 41.5%;
  border: none;
  height: 50px;
  width: 200px;
}
#color_picker button {
  position: fixed;
  top: 65%;
  left: 41.5%;
  background-color: blue;
  color: white;
  font-size: 3vh;
  height: 75px;
  width: 200px;
}

#signup_form {
  position: fixed;
  visibility: hidden;
  width: 80%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.6);
  padding-top: 5%;
}
#signup_form input {
  color: white;
  border: none;
  border-bottom: 2px solid white;
  background-color: rgba(0, 0, 0, 0);
  width: 60%;
  margin-left: 10%;
  height: 40px;
  font-size: 30px;
}
#signup_form input:focus {
  outline: none;
}
#signup_form input[type=submit] {
  background-color: blue;
  color: white;
  border: none;
  margin-left: 30%;
  margin-top: 5%;
  height: 75px;
  width: 200px;
  font-size: 20px;
}
#signup_form label {
  position: absolute;
  right: 30%;
  color: #c3c3c3;
}

#new_article {
  padding-top: 5%;
}
#new_article input {
  width: 60%;
  height: 50px;
  font-size: 20px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid black;
  margin-bottom: 50px;
}
#new_article input:focus {
  background-color: white;
  border: 5px solid #00c3e3;
  outline: none;
}
#new_article textarea {
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid black;
  width: 60%;
  height: 300px;
}
#new_article textarea:focus {
  background-color: white;
  border: 5px solid #00c3e3;
  outline: none;
}

div#edit_user_settings {
  position: absolute;
  left: 10%;
  height: 75%;
  width: 80%;
  color: black;
  padding: 25px;
  text-align: left;
}

#edit_user input {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 1px solid gray;
  font-size: 1.75em;
  width: 100%;
}
#edit_user input:focus {
  background-color: white;
  outline: none;
  border: none;
  border: 2px solid #00c3e3;
  font-size: 1.75em;
  width: 100%;
}
#edit_user input[type=submit] {
  background-color: #00c3e3;
  font-size: 20px;
  border: none;
  color: white;
  height: 50px;
  width: 150px;
  border-radius: 0px;
  position: absolute;
  left: 5%;
}

#delete_user {
  padding: 10px 20px;
  position: relative;
  top: 25%;
  left: 1.5%;
  font-size: 1.25em;
  background-color: red;
  color: white;
  height: 50px;
  width: 150px;
}

#confirm_delete {
  display: none;
  position: fixed;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
  width: 100%;
  color: black;
}
#confirm_delete form {
  position: fixed;
  top: 35%;
  left: 37%;
  background-color: white;
  height: 400px;
  width: 400px;
}
#confirm_delete h3 {
  color: black;
}
#confirm_delete input[type=submit] {
  background-color: red;
  color: white;
  border: none;
  border-radius: 0px;
}

#delete_article {
  height: 50px;
  margin: 10px 0;
}
#delete_article input[type=submit] {
  background-color: red;
  margin: 0;
  color: white;
  border: none;
  border-radius: 0px;
  padding: 10px;
  width: 200px;
}

#single_article {
  padding: 5% 10%;
  overflow: scroll;
}
#single_article img {
  width: 80%;
}
#single_article p {
  padding-top: 20px;
}

body {
  margin: 0;
  font-family: "Nanum Gothic", sans-serif;
}

nav {
  position: fixed;
  top: 5%;
  right: 20%;
  height: 100px;
  color: black;
}
nav ul {
  height: 50px;
}
nav ul li {
  display: inline-block;
  padding: 5px;
}
nav ul li a {
  color: white;
  text-decoration: none;
}
nav img {
  position: relative;
  bottom: 1px;
  height: 30px;
}
nav #time {
  font-size: 1.5vw;
}

input[type=image] {
  position: relative;
  bottom: -10px;
  height: 30px;
  width: 30px;
  border: none;
}

#user_header,
#new_user_header,
#new_article_header,
#user_settings {
  text-align: left;
  padding: 50px 25px 0 25px;
}
#user_header h2,
#new_user_header h2,
#new_article_header h2,
#user_settings h2 {
  font-size: 2.5vw;
  border-bottom: 5px solid black;
}
#user_header img,
#new_user_header img,
#new_article_header img,
#user_settings img {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  display: inline;
}

div.switch_frame {
  background-color: black;
}

div#switch_frame_top {
  position: fixed;
  width: 100%;
  height: 3%;
}

div#switch_frame_left {
  position: fixed;
  left: 15%;
  z-index: 2;
  width: 2%;
  height: 100%;
}

div#switch_frame_right {
  position: fixed;
  right: 15%;
  z-index: 2;
  width: 2%;
  height: 100%;
}

div#switch_frame_bottom {
  position: fixed;
  width: 100%;
  height: 3%;
  bottom: 0;
}

div#user_articles {
  display: grid;
  position: absolute;
  top: 12.2%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 250px;
  grid-gap: 15px;
  width: 90%;
  height: 80%;
  margin: 0 5%;
  overflow: scroll;
  padding-top: 20px;
}
div#user_articles a {
  color: black;
}
div#user_articles a:hover {
  text-decoration: none;
}
div#user_articles .grid_item {
  background-color: white;
  height: 250px;
}
div#user_articles .grid_item:hover {
  animation: glowing 1500ms infinite;
  border: 3px solid #00c3e3;
  border-radius: 2px;
}
div#user_articles .grid_item img {
  width: 100%;
  height: 200px;
}
div#user_articles .grid_item h3 {
  font-size: 3vh;
}
div#user_articles .grid_item h4 {
  font-size: 2vh;
}

div.article h3 {
  font-size: 2vw;
}

div#left_con {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  height: 100vh;
  width: 15%;
  background-color: #ff4554;
}

div#minus_sign {
  position: relative;
  top: 50px;
  left: 50%;
  height: 20px;
  width: 75px;
  background-color: #333;
}

div#left_stick {
  position: relative;
  top: 30%;
  left: 30%;
  height: 100px;
  width: 100px;
  border-radius: 50px;
  background-color: #333;
}

div#right_con {
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  height: 100%;
  width: 15%;
  background-color: #00c3e3;
}

div#plus_sign {
  position: relative;
  top: 50px;
  left: 20%;
  height: 75px;
  width: 75px;
  background-color: #333;
  clip-path: polygon(0 35%, 35% 35%, 35% 0%, 65% 0%, 65% 35%, 100% 35%, 100% 65%, 66% 65%, 65% 100%, 35% 100%, 35% 65%, 0 65%);
}

div#right_con_buttons {
  position: relative;
  top: 150px;
  left: 30px;
  height: 190px;
  width: 75%;
}

div.switch_button {
  position: absolute;
  background-color: #333;
  height: 50px;
  width: 50px;
  border-radius: 25px;
}

div#right_con_up_button {
  top: 0;
  left: 38%;
}

div#right_con_right_button {
  top: 40%;
  right: 0;
}

div#right_con_down_button {
  bottom: 0;
  left: 38%;
}

div#right_con_left_button {
  top: 40%;
  left: 0;
}

div#screen_content {
  position: fixed;
  width: 66%;
  height: 98%;
  margin: 1% 17%;
  overflow: hidden;
  background-color: #efefef;
}

a.carousel-control-next,
a.carousel-control-prev {
  z-index: 3;
  width: 50px;
  height: 50px;
  opacity: 1;
}

footer {
  position: fixed;
  bottom: 0;
  width: 62%;
  height: 50px;
  margin-left: 2%;
  margin-bottom: 1%;
  border-top: 2px solid black;
  text-align: right;
  background-color: #efefef;
}
footer ul {
  height: 50px;
}
footer ul li {
  display: inline-block;
  padding: 5px;
}

@keyframes glowing {
  0% {
    border: 2px solid #00c3e3;
  }
  50% {
    border: 2px solid #5cf3ff;
  }
  100% {
    border: 2px solid #00c3e3;
  }
}

/*# sourceMappingURL=main.css.map */
