<form action="/users/new" method="post">
  <label>First</label>
  <input type="text" name="first" />
  <label>Last</label>
  <input type="text" name="last" />
  <label>Email Address</label>
  <input type="text" name="email" />
  <label>Password</label>
  <input type="password" name="password" />
  <label>Birthday</label>
  <input type="date" name="birthday">
  <input type="submit" name="submit" />
</form>
