<h2><%= @user.first%></h2>
<p><%= @user.email%></p>

<% articles = Article.where(user_id: params[:id]) %>
<% articles.each do |article|%>
<div class="article">
  <h3><%= article.title %></h3>
  <p><%= article.content %></p>
</div>
<% end %>
